################################################
###       environment config file            ###
################################################
Jenkins_DIR=../wwwroot/Jenkins
SOURCE_DIR=../wwwroot/Jenkins/workspace


############# Timezone for the containers ############
TZ=Asia/Shanghai
LOCALTIME_DIR=/etc/localtime
TIMEZONE_DIR=/etc/timezone

############# PHP Alpine Repositories ############
ALPINE_REPOSITORIES=mirrors.aliyun.com


#################### Nginx #####################
NGINX_VERSION=1.15.7-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log/nginx



############ PHP extensions #################
# Available extensions:
#
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event
# Please seperate theme with comma(,) if you use more than
# one.
#
# For other extensions not list here, you also can install
# via pecl or source, which show in script install.sh and
# php73.sh in extensions.


#################### PHP7.3 ####################
PHP73_VERSION=7.3.6
PHP73_PHP_CONF_FILE=./conf/php.ini
PHP73_FPM_CONF_FILE=./conf/php-fpm.conf
PHP73_LOG_DIR=./log/php
PHP73_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,redis,amqp,swoole,mongodb,event
XDEBUG73_HOST_PORT=9073
SWOOLE73_HOST_PORT=9573


#################### PHP7.2 ####################
# PHP72_VERSION=7.2.19
# PHP72_PHP_CONF_FILE=./conf/php.ini
# PHP72_FPM_CONF_FILE=./conf/php-fpm.conf
# PHP72_LOG_DIR=./log/php
# PHP72_EXTENSIONS=pdo_mysql,opcache,redis,gd,swoole
# XDEBUG73_HOST_PORT=9072
# SWOOLE73_HOST_PORT=9572


#################### PHP5.6 ####################
PHP56_VERSION=5.6.40
PHP56_PHP_CONF_FILE=./conf/php.ini
PHP56_FPM_CONF_FILE=./conf/php-fpm.conf
PHP56_LOG_DIR=./log/php
PHP56_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,redis,



#################### MySQL #####################
MYSQL_VERSION=8.0.13
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql.cnf


#################### Redis #####################
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis.conf


#################### Jenkins #####################
Jenkins_HOST_PORT=8083


#################### Rabbitmq #####################
RABBITMQ_VERSION=management-alpine
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=123123
RABBITMQ_HOST_PORT=5672
RABBITMQ_WEB_PORT=15672

#################### MONGODB #####################
MONGODB_VERSION=4.1
MONGODB_DATA_DIR=./mongo
MONGODB_HOST_PORT=27017
MONGODB_INITDB_ROOT_USERNAME=root
MONGODB_INITDB_ROOT_PASSWORD=123456

#################### ELASTICSEARCH #####################
ELASTICSEARCH_VERSION=7.1.1
ELASTICSEARCH_HOSTNAME=kibana
ELASTICSEARCH_DATA_DIR=./esdata
ELASTICSEARCH_HOST_PORT_C=9200
ELASTICSEARCH_HOST_PORT_S=9300

#################### KIBANA #####################
KIBANA_VERSION=7.1.1
KIBANA_HOST=5601

#################### LOGSTASH #####################
LOGSTASH_VERSION=7.1.1
LOGSTASH_HOST=5601
LOGSTASH_HOST_PORT_C=9600
LOGSTASH_HOST_PORT_S=5044

################## phpMyAdmin ##################
PHPMYADMIN_HOST_PORT=8081


################# redisMyAdmin #################
REDISMYADMIN_HOST_PORT=8082


################# portainer ###################
PORTAINER_HOST_PORT=8888

################# AdminMongo #################
ADMINMONGO_HOST_PORT=1234


################  内部网络固定IP #################
DOCKER_SUBNET=172.19.0.0/16
PORTAINER_IP=172.19.0.2
NGINX_IP=172.19.0.3
PHP56_IP=172.19.0.56
PHP73_IP=172.19.0.73
REDIS_IP=172.19.0.6
REDIS_ADMIN_IP=172.19.0.66
MYSQL_IP=172.19.0.8
MYSQL_ADMIN_IP=172.19.0.88
Jenkins_IP=172.19.0.110
RABBITMQ_IP=172.19.0.101
Mongo_IP=172.19.0.201
ADMINMongo_IP=172.19.0.202
Elasticsearch_IP=172.19.0.301   
Kibana_IP=172.19.0.302 
Logstash_IP=172.19.0.303
